doctype html
html(lang="ru")
  head
    meta(charset = "utf-8")
    meta(content="ie=edge" http-equiv="x-ua-compatible")
    meta(name="viewport", content="initial-scale=1.0, width=device-width")
    link(rel="stylesheet", href="css/style.css")
    title Unicorn Power
  body
    h1 Ghbdtjihfgewnhkjgdsukh
    .wrapper
      h2 jxfg;jlaxghhck
      img(src="images/1.jpg", alt="teddybear")
    .test
  script(src="js/script.js")