h1 {
    color: pink;
}

.wrapper {
    h2 {
        color: darkgreen;
    }
}

.test {
    background-image: url('../images/14.jpg');
    width: 50%;
    height: 200px;
    background-size: cover;
    background-position: center;
}